.h-line
%section#welcome.container
  #title-header.container
    %h1.center-align WEBSITE DESIGN 
    %h1.text-center.flow-text THAT CONVERT VISITORS TO CUSTOMERS
  .row
    #hero-image.col.s12.m7.l6
      %img.responsive-img{:src => "/assets/devices.png"}
    #hero-text.col.s12.m5.l6
      %p.flow-text.center-align
        We beautifully design website that are user friendly and easy to convert visitors into customers, Creating website that stands out from your competitors helps convince your potential customers to do business with you.
        We also make sure your website looks great on all mobile devices.
        %br
          %br
            = link_to "read more", web_path, class: "waves-effect, waves-light, btn"
%section#section-1.row
  .col.s12.m7.l6.hero-text
    .dots
      %h1 MOBILE FRIENDLY DESIGN
      %p.flow-text
        what makes your intended audience stick is the secret to a successfully planned and launched website.There are many ways you can create a website for your business, but if you use our web design service you will get a professional designed website that matches your requirements. 
        %br
        %br    
        Our design is completely bespoke and we don't use templates. All our website is designed by our in-house UK based team and we offer unlimited revisions until you're happy.
        %br
        %br
        All our websites are responsive (mobile friendly). Responsive websites allow a site to scale to different screen sizes, so you can offer visitors the best web experience.
  .col.s12.m5.l6.hero-image-bespoke
    .bespoke-pop
      %h2.text-center.flow-text Custom design for your business
      %p.text-center.flow-text We make sure your website suite your business needs
// Holding Container for Services
#service-container
  /= render 'partials/services'

// Hosting Service Section Starts here
.section.scrollspy
  #cards.row
    %section#section-2.row
      .col.s12.m5.l6.hero-image-hosting
        .hosting-pop
          %h2.text-center.flow-text Affordable Web and Email Hosting
          %p.text-center.flow-text we host our customer's web site with the best cloud service provider
      .col.s12.m7.l6.hero-inner1-1.dots
        %h1 WEB & EMAIL HOSTING
        %p.flow-text
          Our service is fully hosted using our secure UK based servers. This means that you pay a monthly (or annual) charge and this covers the hosting and also technical support. We look after all security updates and include a UK domain name within this charge. As standard all accounts come with 3 pro email accounts as well.
        %ul
          %li Hosting and domain name
          %li 3 Pro email accounts 
          %li UK based fast servers
          %li Technical support
          %li Optional marketing help available
// Parallax container stars here
#parallax
  = render 'partials/parallax'
  /= render 'partials/testimony'
#process
  = render 'partials/process'

/ %a.waves-effect.waves-light.btn.modal-trigger{:href => "#modal1"} Modal
/ / Modal Structure
/ #modal1.modal.modal-fixed-footer.model-form
#news
  = render "partials/latest_news"
#contacts
  = render 'partials/contact'
  = render 'contacts/form'
#company-image
  /= render 'partials/company_image'

// Section for Javascript

:javascript
  //$('#textarea1').val('Write Your Message here');
   	$('#textarea1').trigger('autoresize');


  var options = [
    {selector: '#welcome', offset: 200, callback: 'Materialize.fadeInImage("#welcome")' },
    {selector: '#section-1', offset: 300, callback: 'Materialize.fadeInImage("#section-1")' },
    {selector: '.hero-inner1-1', offset: 300, callback: 'Materialize.fadeInImage(".hero-inner1-1")' },
    {selector: '.hero-image-hosting', offset: 300, callback: 'Materialize.fadeInImage(".hero-image-hosting")' },
    {selector: '#service-container', offset: 300, callback: 'Materialize.fadeInImage("#service-container")' },
    {selector: '#parallax', offset: 200, callback: 'Materialize.fadeInImage("#parallax")' },
    {selector: '#process', offset: 100, callback: 'Materialize.fadeInImage("#process")' },
    {selector: '#contacts', offset: 100, callback: 'Materialize.fadeInImage("#contacts")' },
    {selector: '#company-image', offset: 200, callback: 'Materialize.fadeInImage("#company-image")' }
  ];
  Materialize.scrollFire(options);
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
     