.h-line
%section#welcome.container
  %h4.center-align WE DESIGN WEBSITE THAT TELLS YOUR BUSINESS STORY
  .row
    .col.s12.m7.l6
      %img.responsive-img{:src => "/assets/devices.png"}
    #hero-text.col.s12.m5.l6
      %p.text-flow.center-align
        We beautifully design website that are user friendly and easy to convert visitors into customers, Creating website that stands out from your competitors helps convince your potential customers to do business with you.
        %br
          %br
            %a.waves-effect.waves-light.btn Read More
%section#section-1.row
  .col.s12.m7.l6.hero-text.dots
    %h4 BESPOKE, MOBILE FRIENDLY DESIGN
    %p.text-flow
      There are many ways you can create a website for your business, but if you opt for our web design service you will get a professionally designed website to your exact requirements.
      
      Whilst the functionality of our packages is fixed, the design is completely bespoke and we don't use templates. The website is designed by our in-house UK team and we offer unlimited revisions until you're happy.
      
      All our websites are responsive (mobile friendly). Responsive websites allow a site to adapt to different screen sizes, so you can offer visitors the best possible experience.
  .col.s12.m5.l6.hero-image-bespoke
// Holding Container for Services
= render 'partials/services'

// Hosting Service Section Starts here
.section.scrollspy
  #cards.row
    %section#section-2.row
      .col.s12.m5.l6.hero-image-hosting
      .col.s12.m7.l6.hero-inner1-1.dots
        %h4 HOSTING SOLUTION
        %p.text-flow
          Our service is fully hosted using our secure UK based servers. This means that you pay a monthly (or annual) charge and this covers the hosting, access to the CMS so that you can update your website and also technical support. We look after all security updates and include a UK domain name within this charge. As standard all accounts come with 3 pro email accounts as well.
        %ul
          %li Hosting and domain name
          %li 3 Pro email accounts (each account is 1 GB)
          %li UK based fast servers
          %li Access to the CMS putting you in control
          %li Technical support
          %li Optional marketing help available
// Parallax container stars here
= render 'partials/parallax'
= render 'partials/process'
= render 'contacts/form'
= render 'partials/company_image'

// Section for Javascript

:javascript
  //$('#textarea1').val('Write Your Message here');
   	$('#textarea1').trigger('autoresize');
