.works-header.container
  %h1.text-center #Works
- @works.each_slice(4) do |work|
  .row
    - work.each do |work|
      .col.s12.m6.l3
        .news.z-depth-1
          .image-wrapper
            = link_to work do
              = image_tag work.image.url(:large)
          = link_to work do
            .caption-text 
              %h5.text-center
                = work.client
          %h6.text-center 
            Posted on
            = work.created_at.to_formatted_s(:long_ordinal)