.container
  %h1 Listing quotations

  %table
    %thead
      %tr
        %th Name
        %th Company
        %th Email
        %th Telephone
        %th Message
        %th
        %th
        %th

    %tbody
      - @quotations.each do |quotation|
        %tr
          %td= quotation.name
          %td= quotation.company
          %td= quotation.email
          %td= quotation.telephone
          %td= quotation.message
          %td= link_to 'Show', quotation
          %td= link_to 'Edit', edit_quotation_path(quotation)
          %td= link_to 'Destroy', quotation, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Quotation', new_quotation_path
