<div id="contact-form" class="container">
  <div id="contact"><h1 class="center-align">SEND US MESSAGE</h1></div>

    <%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br><br>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :first_name %>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :last_name %>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="input-field col s6">
         <%= f.text_field :email %>
          <label for="email">Email</label>
        </div>
         <div class="input-field col s6">
          <%= f.text_field :telephone %>
          <label for="telephone">Telephone</label>
        </div>
      </div>
      <br><br>
       <div class="row">
         <div class="input-field col s12">
            <%= f.text_area :message, class: "materialize-textarea", id: "textarea1" %>
            <label for="textarea1">Message</label>
          </div>
      </div>
      <br><br>
       <button id="submit-button" class="btn waves-effect waves-light"><%= f.submit "Send Message" %>
        <i class="material-icons right">send</i>
       </button>
    </form>
    <% end %>
  </div>
  <br><br>
</div>
<script>
    //$('#textarea1').val('Write Your Message here');
  $('#textarea1').trigger('autoresize');  
</script>