#contact-form.container#contact-f
  #contact
    %h1.center-align Please fill the form below
    %p.notice= notice
  = form_for :contact, url: contacts_path, remote: true do |f|
    - if @contact.errors.any?
      #error_explanation
        %h2
          = pluralize(@contact.errors.count, "error")
          prohibited this message from being sent:
        %ul
          - @contact.errors.full_messages.each do |message|
            %li= message
    %br/
    %form.col.s12
      .row
        .input-field.col.s6
          = f.text_field :first_name
          %label{:for => "first_name"} First Name
        .input-field.col.s6
          = f.text_field :last_name
          %label{:for => "last_name"} Last Name
      %br/
      %br/
      .row
        .input-field.col.s6
          = f.text_field :email
          %label{:for => "email"} Email
        .input-field.col.s6
          = f.text_field :telephone
          %label{:for => "telephone"} Telephone
      %br/
      %br/
      .row
        .input-field.col.s12
          = f.text_area :message, class: "materialize-textarea", id: "textarea1"
          %label{:for => "textarea1"} Message
      %br/
      %br/
      %button#submit-button.btn.waves-effect.waves-light
        = f.submit "Submit"
    
%br/
%br/
:javascript
  //$('#textarea1').val('Write Your Message here');
    $('#textarea1').trigger('autoresize');
