%p#notice= notice
%p
  %strong First name:
  = @contact.first_name
%p
  %strong Last name:
  = @contact.last_name
%p
  %strong Email:
  = @contact.email
%p
  %strong Telephone:
  = @contact.telephone
%p
  %strong Message:
  = @contact.message
= link_to 'Edit', edit_contact_path(@contact)
|
= link_to 'Back', contacts_path
